<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogiServlet</servlet-name>
        <servlet-class>servlet.LogiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllLogi</servlet-name>
        <servlet-class>servlet.AllLogi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogiQuery</servlet-name>
        <servlet-class>servlet.LogiQuery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogiServlet</servlet-name>
        <url-pattern>/LogiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllLogi</servlet-name>
        <url-pattern>/AllLogi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogiQuery</servlet-name>
        <url-pattern>/LogiQuery</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
